@import
    'utils/fonts',
    'utils/variables';

@import
    'utils/mixins/bottom-bar',
    'utils/mixins/button',
    'utils/mixins/category',
    'utils/mixins/form',
    'utils/mixins/header',
    'utils/mixins/main',
    'utils/mixins/opacity',
    'utils/mixins/post-header-cover',
    'utils/mixins/prefix',
    'utils/mixins/share-options-bar',
    'utils/mixins/sidebar',
    'utils/mixins/tag';

@import
    'base/base';

@import 'layouts/about',
'layouts/blog',
'layouts/bottom-bar',
'layouts/cover',
'layouts/footer',
'layouts/header',
'layouts/main',
'layouts/sidebar';

@import
    'components/alert',
    'components/archive',
    'components/box',
    'components/button',
    'components/caption',
    'components/code',
    'components/fancybox',
    'components/figure',
    'components/form',
    'components/hide',
    'components/highlight-text',
    'components/icon',
    'components/image-gallery',
    'components/link',
    'components/main-content',
    'components/markdown',
    'components/media',
    'components/modal',
    'components/pagination',
    'components/post',
    'components/post-actions',
    'components/pullquote',
    'components/post-header-cover',
    'components/postShorten',
    'components/share-options-bar',
    'components/tag',
    'components/text',
    'components/tooltip',
    'components/video';

@import
    'pages/search';

@import
    'themes/hljs-tranquilpeak',
    'themes/hljs-custom';

.markdown h1::before {
    content: "h1 ";
    color: rgb(217, 217, 217);
    font-size: 13px;
    margin-left: -15.5px;
}
.markdown h2::before {
    content: "h2 ";
    color: rgb(217, 217, 217);
    font-size: 13px;
    margin-left: -15.5px;
}
.markdown h3::before {
    content: "h3 ";
    color: rgb(217, 217, 217);
    font-size: 13px;
    margin-left: -15.5px;
}
.markdown h4::before {
    content: "h4 ";
    color: rgb(217, 217, 217);
    font-size: 13px;
    margin-left: -15.5px;
}
.markdown h5::before {
    content: "h5 ";
    color: rgb(217, 217, 217);
    font-size: 13px;
    margin-left: -15.5px;
}
.markdown h6::before {
    content: "h6 ";
    color: rgb(217, 217, 217);
    font-size: 13px;
    margin-left: -15.5px;
}

.markdown h1 {
    color: #bf616a; }
.markdown h2 {
    color: #d08770; }
.markdown h3 {
    color: #ebcb8b; }
.markdown h4 {
    color: #a3be8c; }
.markdown h5 {
    color: #b48ead; }
.markdown h6 {
    color: #62b7de; }


#table-of-contents {
    color: black;
}

#table-of-contents::before {
    content: "";
    margin-left: 0;
}

ol {
    padding-inline-start: 30px;
}
ol li::marker {
    color: #0E6FC9;
    margin-left: -10px;
}

ul li::marker {
    color: #0E6FC9;
}